{% extends "network/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

{% if user.is_authenticated %}
<div id="posts-page">
    <div id="post-form">
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <textarea name="message" id="message" resize="false" placeholder="message"></textarea> <br>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
{% else %}
   
{% endif %}


    
    <div id="posts">
        <h2>Recent Posts</h2>
        <div class="underline"></div>
    {% for post in page_obj%}
        <div class="post open" name='{{post.id}}'>
            <div><a href="{% url 'profile' id=post.user.id %}"><h2>{{post.user}}</h2></a> <span>{{post.date}}</span></div>
            <p class='msg'>{{post.message}}</p>
            <p><span class='heart' name='{{post.id}}'>&#9825;</span><span class='likes'>{{post.likes.count}}</span></p>
            {% if post.user == request.user %}
            <button class='edit btn btn-primary' name='{{post.id}}'>Edit</button>
            {% else %}
            {% endif %}
        </div>
    {% endfor %}
<div class="pagination" aria-labe="Page navigation example">
    <span class="step-links pagination justify-content-center">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page=1">&laquo; first</a>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% for page in pages %}
            {% if page == 0 %}
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
       {% endfor %}

        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}